/* Reset some basic elements */
body, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFEC;
}

header {
    background-color: #FFFFEC;
    color: #597E52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

#logo {
    flex-shrink: 0;
    width: 18vw;
    height: 2vw;
}

nav ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allows nav items to wrap */
    justify-content: flex-end; /* Align items to the right */
    padding: 40px 0 0 0; /* Removes default padding */
    font-weight: 450;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

nav li {
    margin: 5px 10px; /* Adds a little space around each nav item */
}

nav a {
    color: #597E52;
    text-decoration: none;
    font-size: 1.2vw;
    position: relative;
    font-style: italic;
    margin: 20px;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C6A969;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); /* Start with the element scaled to 0 */
    transform-origin: left center; /* Scale from the left */
    transition: transform 0.2s ease-out; /* Transition effect for the transform */
}

nav a:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}

/* Main content */
main {
    padding-bottom: 40px;
}
main h1 {
    color: #C6A969; /* Header color */
    font-size: 5vw; /* Header font size */
    text-align: center; /* Center the text */
}

main h2 {
    color: #C6A969; /* Subheader color */
    font-size: 3vw; /* Subheader font size */
}

main p, main li {
    color: #333; /* Text color */
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;
}

main section {
    margin: 50px; /* Spacing between sections */
}

main ul {
    list-style-type: none; /* Removes default bullet points */
    padding-left: 0; /* Removes default padding */
    margin: 15px 0px;
}

main h3 {
    margin: 15px 0px;
    color: #597E52; /* Job title color */
}

main section#contact p, main section#contact a {
    color: #597E52; /* Contact info color */
    text-decoration: none; /* Removes underline from links */
}

main a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}

/* Footer */
footer {
    padding: 10px;
    text-align: right; /* Aligns the content to the right */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media a {
    display: inline-block;
    margin-right: 20px; /* Adjusts the right padding */
}

.social-media svg {
    height: 70px; /* Adjust the size of the logo */
    width: auto;
}

#linkedin {
    height: 47px;
    padding: 0 60px 12px 0;
}
