/* Reset some basic elements */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#h1 {
    font-size: 6vw;
    font-weight: 700;
    margin: 80px 0 50px 0;
    padding: 0;
    color:#C6A969;
    text-align: center;
}

body, html {
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFEC;
    box-sizing: border-box;
}

header {
    background-color: #FFFFEC;
    color: #597E52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.photo-gallery {
    padding: 20px 50px; /* Top and bottom padding + Left and right margins */
}

.photo-item img {
    width: 100%; /* Fill the width of the container */
    height: auto; /* Keep the original aspect ratio */
    display: block;
    object-fit: cover; /* Adjust this as needed */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-auto-rows: 200px; /* Adjust this value based on your preference */
}


#logo {
    flex-shrink: 0;
    width: 18vw;
    height: 2vw;
}

nav ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allows nav items to wrap */
    justify-content: flex-end; /* Align items to the right */
    padding: 40px 0 0 0; /* Removes default padding */
    font-weight: 450;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

nav li {
    margin: 5px 10px; /* Adds a little space around each nav item */
}

/* SECTION FOR RESPONSIVE DESIGN */
@media (max-width: 768px) {
    nav a {
        font-size: 18px; /* Smaller font size on smaller screens */
        margin: 10px 5px; /* Adjust margin for smaller screen */
    }
}

@media (max-width: 768px) {
    #intro p {
        font-size: 10px; /* Reduce font size on smaller screens */
    }
}

@media (max-width: 480px) {
    #intro p {
        font-size: 10px; /* Even smaller font size for very small screens */
    }
}

nav a {
    color: #597E52;
    text-decoration: none;
    font-size: 1.2vw;
    position: relative;
    font-style: italic;
    margin: 20px;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C6A969;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); /* Start with the element scaled to 0 */
    transform-origin: left center; /* Scale from the left */
    transition: transform 0.2s ease-out; /* Transition effect for the transform */
}

nav a:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}

/* Gallery and Cover Image */
.photo-item {
    position: relative;
    cursor: pointer; /* Indicates the image can be clicked */
}

.cover-image {
    width: 100%; /* Ensure the cover image is responsive */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area of the photo-item without distorting */
}

/* Full-Resolution Photo Album */
.photo-album {
    display: none; /* Hidden by default */
    position: fixed; /* Overlay the whole page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    z-index: 1000; /* Ensure it's on top of other content */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    overflow-y: auto; /* Enable scrolling for taller images */
}

.photo-album img {
    max-width: 90%; /* Limit the width to avoid overflowing the viewport */
    max-height: 80vh; /* Limit the height to avoid overflowing the viewport */
    margin: 20px; /* Add some space around the image */
    object-fit: contain; /* Show the full image without cropping */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: add shadow for depth */
}

/* Additional styles for better usability */
body.overflow-hidden {
    overflow: hidden; /* Prevent scrolling when photo album is open */
}

.close-btn {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* Footer */
footer {
    padding: 10px;
    text-align: right; /* Aligns the content to the right */
    background-color: #FFFFEC; /* Example background color */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media a {
    display: inline-block;
    margin-right: 20px; /* Adjusts the right padding */
}

.social-media svg {
    height: 70px; /* Adjust the size of the logo */
    width: auto;
}

#linkedin {
    height: 47px;
    padding: 0 60px 12px 0;
}
