/* Reset some basic elements */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#h1 {
    font-size: 6vw;
    font-weight: 700;
    margin: 80px 0 50px 0;
    padding: 0;
    color:#C6A969;
    text-align: center;
}

body, html {
    height: 100%; /* Ensure full height */
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #FFFFEC;
    box-sizing: border-box;
}

header {
    background-color: #FFFFEC;
    color: #597E52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Left and right padding */
    height: 70px;
    font-size: 1vw;
}

.photo-gallery {
    padding: 20px 50px; /* Top and bottom padding + Left and right margins */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Gap between photos */
}

.photo-item img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block;
}


#logo {
    width: 300px;
    height: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allows nav items to wrap */
    justify-content: flex-end; /* Align items to the right */
    padding: 40px 0 0 0; /* Removes default padding */
    font-weight: 450;
    font-family: 'Inter', sans-serif;
}

nav li {
    margin: 5px 10px; /* Adds a little space around each nav item */
}

/* SECTION FOR RESPONSIVE DESIGN */
@media (max-width: 768px) {
    nav a {
        font-size: 18px; /* Smaller font size on smaller screens */
        margin: 5px; /* Adjust margin for smaller screen */
    }
    nav ul {
        padding: 20px 0; /* Adjusted padding for smaller screens */
        gap: 10px; /* Smaller gap between items for narrower screens */
    }
    #logo {
        width: 250px; /* Adjust logo size for smaller screens */
        height: 25px;
    }
    header {
        flex-direction: column; /* Stack logo and nav vertically on smaller screens */
        align-items: flex-start; /* Align items to the start of the container */
    }
    nav ul {
        flex-direction: row; /* Ensure nav items are in a row */
        flex-wrap: nowrap; /* Prevent wrapping of nav items */
        justify-content: center; /* Center the navigation items */
        overflow-x: auto; /* Enable horizontal scrolling if nav items overflow */
        -webkit-overflow-scrolling: touch; /* Smooth scrolling on webkit browsers */
    }
}

@media (max-width: 480px) {
    #intro p {
        font-size: 40px; /* Reduce font size on smaller screens */
    }

    nav ul {
        padding: 10px 0; /* Adjust padding to ensure visibility at the top */
    }
}

nav a {
    color: #597E52;
    text-decoration: none;
    font-size: 1.2vw;
    position: relative;
    font-style: italic;
    margin: 1vw;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C6A969;
    left: 0;
    bottom: -5px;
    transform: scaleX(0); /* Start with the element scaled to 0 */
    transform-origin: left center; /* Scale from the left */
    transition: transform 0.2s ease-out; /* Transition effect for the transform */
}

nav a:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}

/* Footer */
footer {
    padding: 10px;
    text-align: right; /* Aligns the content to the right */
    background-color: #FFFFEC; /* Example background color */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media a {
    display: inline-block;
    margin-right: 20px; /* Adjusts the right padding */
}

.social-media svg {
    height: 70px; /* Adjust the size of the logo */
    width: auto;
}

#linkedin {
    height: 47px;
    padding: 0 60px 12px 0;
}